.discover-form {
    padding: 12px 16px;

    display: grid;
    grid-template-columns: 1fr auto 1fr auto;
    align-items: center;
    column-gap: 16px;

    border-radius: 16px;
    border: 1px solid rgba(144, 144, 144, 0.30);

    @media(max-width: 602px){
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}

.discover-form__label {
    position: relative;
    padding-left: 36px;

    div{
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
    }


}

.map-label{
    &::before{
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        width: 24px;
        height: 24px;
    
        background-image: url('./../img/icons/map.svg');
        background-repeat: no-repeat;
    }
}
.date-label{
    &::before{
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        width: 24px;
        height: 24px;
    
        background-image: url('./../img/icons/calendar.svg');
        background-repeat: no-repeat;
    }
}

.discover-form__input{
    margin-top: 8px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 450;
    line-height: normal;

    &::placeholder{
        color: var(--text-muted);
        font-size: 14px;
        font-weight: 450;
        line-height: normal;
    }
}



.discover-form__btn {
    position: relative;
    min-width: 48px;
    min-height: 48px;
    background-color: var(--accent);
    border-radius: 10px;
    transition: opacity 0.2s, scale 0.2s, top 0.2s;

    &:hover{
        opacity: 0.8;
        scale: 1.1;

        @media(max-width: 602px){
            scale: 1;
        }
    }
    
    &:active{
        scale: 1.05;

        @media(max-width: 602px){
            scale: 0.95;
        }
    }
}

.discover-form__devider{
    height: 24px;
    width: 1px;
    background-color: #909090;

    @media(max-width: 602px){
        display: none;
    }
}