.scroll-down {
    position: relative;
}
.scroll-down__text {
    animation: rotation 3s infinite;
}
.scroll-down__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // top: 0px;
    // left: 0px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}