<div class="card-review">
    <div class="card-review__rating">
        @@for (var i = 0; i < context.stars; i++) {
            <img src="./img/icons/star.svg" alt="Star">
        }

        @@if (context.stars < 5) {
            @@for (var i = 0; i < 5 - context.stars; i++) {
                <img src="./img/icons/star-off.svg" alt="Star">
            }
        }
    </div>

    <p class="card-review__text">
        "@@text"
    </p>

    <div class="card-review__author">
        <div class="card-review__author-img">
            <img src="./img/testimonials/@@img" alt="Photo">
        </div>

        <div class="card-review__author-title">
            <h4 class="card-review__author-name">@@name</h4>
            <p class="card-review__author-role">@@role</p>
        </div>
    </div>
</div>
